@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>404</h1>
            <h2>Page not found</h2>
            <p>Sorry, but the page you were trying to view does not exist.</p>
        </div>
    </div>
</div>