@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<img src="/assets/img/about-bg.jpg" style="width: 100%;" />
<h3>About Me!</h3>
<p class="m-0">Just me, myself and I, exploring the universe of unknowment. I have a heart of love and a interest</p>